*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.bak
*.cmd
*.symvers
*.order
.tmp_versions/
modules.order
Module.symvers
linux-*.tar.xz
linux-source/
linux-6*/
build/.*.cmd
build/*.o
build/*.mod
build/*.mod.c
build/*.mod.o
build/Module.symvers
build/modules.order
